<%= form_with(model: article) do |form| %>
  <%= render 'shared/errors', obj: article %>

  <div class="container bg-info rounded mt-4 p-4">
    <div class="field row mb-4">
      <div class="col-1">
        <%= form.label :title, class: "text-white" %>
      </div>
      <div class="col-11">
        <%= form.text_field :title, placeholder: "Title of content", class: "form-control input-group input-group-lg" %>
      </div>
    </div>

    <div class="field row">
      <div class="col-1">
        <%= form.label :description, class: "text-white" %>
      </div>
      <div class="col-11">
        <%= form.text_area :description, placeholder: "Description", rows: "10", class: "form-control input-group input-group-lg" %>
      </div>
    </div>
    <div class="actions text-center">
      <%= form.submit class: "btn btn-outline-light mt-4" %>
    </div>
  </div>
<% end %>
