<div class="container-sm mt-4 mb-4">
  <h1 class="h1 text-center"><%= @user.username %>'s profile</h1>

  <%= gravatar_for(@user) %>

  <div class="text-center mt-4">
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div>

  <% if @user.articles.any? %>
    <h2 class="h3 my-5 text-center">Articles by <%= @user.username %>:</h2> 
    <%= paginate @articles %>
    <% @articles.each do |article| %>
      <%= render 'articles/article-card', article: article %>
    <% end %>
  <% end %>
</div>